body{
            background-color:beige;
            font-family:monospace;
            font-style:oblique;
}


table{
          border-color:orange;
          border-style:double;
          border-width:medium;
        
}

main{
          text-align: center ;
          font-size: larger
}

.header{ 
          background-color: lightgreen ;
          font-size: large ;
          text-align: center
}
footer{
          display: block ;
          background-color: lightgreen ;

}
